{extend name='extra@admin/content'}

{block name='content'}

<!--右侧编辑区 开始-->
<div class="panel panel-default ">
    <div class="panel-heading">会议内容编辑</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="meeting" onsubmit="return false;" style="margin-left:5%;">
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">会议主题</span>
                        <input maxlength="64" required="required" title="会议主题不能为空哦" placeholder="请在这里输入会议主题" name='m_topic' class="layui-input" value="{$vo.m_topic|default=''}" >
                        <input type="hidden" name="id" value="{$id}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">红头标号</span>
                        <input maxlength="8" required="required" title="请输入红头标号" value="{$vo.red_heade|default='中国高等教育学会'}" placeholder="请输入红头标号" name='red_heade' class="layui-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">会议编号</span>
                        <input maxlength="8" required="required" title="会议编号不能为空哦" placeholder="请输入会议编号" name='m_code' class="layui-input" value="{$vo.m_code|default=''}" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">报名费用</span>
                        <input maxlength="8" required="required" title="请输入报名费用" value="{$vo.apply_fee|default='0.00'}" placeholder="请输入报名费用" name='apply_fee' class="layui-input">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">会议状态</span>
                        <div>
                            <div class="layui-form-radio" style="text-align: inherit;margin-left: 10px;">
                                <span style="text-align: inherit" >开启
                                     <input  type="radio" name="m_status" value="1" title="开启" <?=$vo['m_status'] == 1 ? 'checked' :'' ?>>
                                </span>
                            </div>
                            <div class="layui-form-radio" style="text-align: inherit">
                                    <span >关闭
                                        <input type="radio" name="m_status" value="2" title="关闭" <?=$vo['m_status'] == 2 ? 'checked' :'' ?>>
                                    </span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <textarea name='m_content'>{$vo.m_content|default='0.00'}</textarea>
                </div>
            </div>
                    <?php
                        $date = function ($key) use ($vo){
                            return isset($vo[$key]) ? date('Y-m-d H:i:s',$vo[$key]) : date('Y-m-d H:i:s');
                        }
                    ?>
            <div class="layui-form-pane ">
                <div class="layui-form-item">
                    <label class="layui-form-label">报名时间</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="开始时间"  name="start_time" value="<?=$date('start_time')?>" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">

                    </div>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="截止时间"  name="end_time"   value="<?=$date('end_time')?>"  onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">签到时间</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="签到时间" name="apply_time" value="<?=$date('apply_time')?>"  onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class=" col-md-12">
                        <button data-submit type="button" class="layui-btn">保存会议</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--右侧编辑区 结束-->

{/block}


{block name='script'}
<script>
    $(function () {

        var editDdata = {$vo.articles | default = [] | json_encode};

        require(['ueditor','laydate','layui'], function () {
            /*! 实例富文本编辑器  */
            var editor, $item;

            /*! 默认编辑第一篇图文 */
            editor = window.createEditor('[name="m_content"]', 'basic');

            /*! 编辑器初始化成功 */
            editor.ready(function () {

                var $form = $('form[name="meeting"]'), $body = $('body');

                $form.validate();

                /*! 数据提交 */
                $form.find('button[data-submit]').on('click', function () {
                    $form.submit();
                    if (!syncEditor()) {
                        return false;
                    }
                   $.form.load('__SELF__', {data: $item}, "post");
                });

                /*! 同步编辑器 */
                function syncEditor() {
                    // 处理上一个编辑器
                    if ($form) {
                        var data = {};
                        data.id = $form.find('[name=id]').val();
                        data.m_code = $form.find('[name=m_code]').val();
                        data.m_content = editor.getContent() || '';
                        data.red_heade = $form.find('[name=red_heade]').val();
                        data.m_topic = $form.find('[name=m_topic]').val();
                        data.apply_fee = $form.find('[name=apply_fee]').val();
                        data.start_time = $form.find('[name=start_time]').val();
                        data.end_time = $form.find('[name=end_time]').val();
                        data.apply_time = $form.find('[name=apply_time]').val();
                        data.m_status = $form.find('[name=m_status]:checked').val();
                        $form.submit();
                        $item = data;
                    }
                    return true;
                }
            });
        });
    });
</script>
{/block}

