{include file='common/header' /}
<form  method="post">
    <div class="container">
        <div class="top_bg">
            <div class="top"></div>
        </div>
        {include file='common/nav'/}
        <!-- 主体-->
        <div class="main">
            {include file='common/icenter'/}
            <div class="cont">
                <div class="text_title">
                    <h3 class="name">2016年中国高等教育学会学术年会暨高等教育国际论坛报名</h3>
                    <p><span>报名时间：2017-05-20 15:00-2017-06-20 18:00 截止报名</span></p>
                </div>
                <div class="text_cont">
                    <b>参会流程</b>
                    <ul class="flow">
                        <li><s></s><span>1</span><i class="dan">注册会员</i></li>
                        <li><s></s><span>2</span><i class="odd">添加参会<br/>人员信息</i></li>
                        <li><s></s><span>3</span><i class="dan">银联在线<br/>支付(公务<br/>卡)/微信/支<br/>付宝</i></li>
                        <li><s></s><span>4</span><i class="odd">报名成功<br/>获取凭证</i></li>
                        <li><s></s><span>5</span><i class="dan">现场扫码签<br/>到进入会场</i></li>
                        <li><s></s><span>6</span><i class="odd">获取发票</i></li>
                        <li class="last_num"><span>7</span><i class="dan">个人中心<br/>下载课件</i></li>
                    </ul>
                </div>
                <div class="info_input" >
                    <table class="tab_info">
                        <tr>
                            <td class="txt_name"><em>*</em>姓&nbsp;&nbsp;&nbsp;名：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name"><em>*</em>性&nbsp;&nbsp;&nbsp;别：</td>
                            <td>
                                <input type="radio" name="sex" value="male" checked="checked"/><span class="raopt">男</span>
                                <input type="radio" name="sex" value="female"/><span class="raopt">女</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="txt_name"><em>*</em>民&nbsp;&nbsp;&nbsp;族：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name"><em>*</em>所在单位：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name"><em>*</em>手&nbsp;&nbsp;&nbsp;机：</td>
                            <td><input class="txt" type="tel"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name">电&nbsp;&nbsp;&nbsp;话：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name">E-mail：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name">邮&nbsp;&nbsp;&nbsp;编：</td>
                            <td><input class="txt" type="email"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name">学会理事：</td>
                            <td>
                                <input type="radio" name="phone" value="yes" checked="checked"/><span class="raopt">是</span>
                                <input type="radio" name="phone" value="no"/><span class="raopt">否</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="txt_name">地&nbsp;&nbsp;&nbsp;址：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name">规定论文题目：</td>
                            <td><input class="txt" type="text"/></td>
                        </tr>
                        <tr>
                            <td class="txt_name"><em>*</em>上传附件：</td>
                            <td>
                                <input class="file" type="file"/>
                                <span>(备注：是否必填可以选择，包括是否启用)</span>
                            </td>
                        </tr>
                        <tr class="last">
                            <td colspan="2">
                                <input id="submit" class="btn1" type="button" value="提交"/>
                                <input class="btn2" type="reset" value="重置"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="cover display-none"></div>
    <div class="confirm pop display-none">
        <p>
            <span>提示</span>
            <span class="close">X</span>
        </p>
        <div class="cover_cont text_title">
            <span>请核对报名信息无误</span>
            <div class="area">
                <span>姓名：张三</span>
                <span>性别：男</span>
                <span>姓名：张三</span>
                <span>性别：男</span>
                <span>姓名：张三</span>
                <span>性别：男</span>
                <span>姓名：张三</span>
                <span>性别：男</span>
            </div>
            <div action="#" class="last-same">
                <input id="sure" class="btn1" type="submit" onclick="location.href=''" value="确认报名"/>
                <input id="add" class="btn2" type="button" value="添加其他参会人"/>
            </div>
        </div>
    </div>
    <div class="cover_detail pop display-none">
        <p>
            <span>添加其他参会人信息</span>
            <span class="close">X</span>
        </p>
        <div class="cover_cont">
            <table class="tab_info">
                <tr>
                    <td class="txt_name"><em>*</em>姓&nbsp;&nbsp;&nbsp;名：</td>
                    <td><input class="txt" type="text"/></td>
                </tr>
                <tr>
                    <td class="txt_name"><em>*</em>所在单位：</td>
                    <td><input class="txt" type="text"/></td>
                </tr>
                <tr>
                    <td class="txt_name"><em>*</em>手&nbsp;&nbsp;&nbsp;机：</td>
                    <td><input class="txt" type="tel"/></td>
                </tr>
                <tr>
                    <td class="txt_name">E-mail：</td>
                    <td><input class="txt" type="text"/></td>
                </tr>
                <tr>
                    <td colspan="2" class="last">
                        <input id="add_submit" class="btn1" type="button" value="提交"/>
                        <input class="btn2 close" type="button" value="取消"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
{include file='common/footer' /}
<script>
    $(function(){
        $("#submit").click(function(){
            $(".cover").removeClass("display-none");
            $(".confirm").removeClass("display-none");
            $(".close").click(function(){
                $(".cover").addClass("display-none");
                $(".cover_detail").addClass("display-none");
                $(".confirm").addClass("display-none");
            });
            $("#add").click(function(){
                $(".confirm").addClass("display-none");
                $(".cover_detail").removeClass("display-none");
                $(".close").click(function(){
                    $(".cover").addClass("display-none");
                    $(".cover_detail").addClass("display-none");
                });
                $("#add_submit").click(function(){
                    $(".cover_detail").addClass("display-none");
                    $(".confirm").removeClass("display-none");
                })
            })
        })

    })
</script>