<div class="copyright">
    <div class="footer">
        <div class="line_24">
            <p><a href="http://hie.eol.com.cn/overview_12570/20150121/t20150121_993152.shtml">联系我们</a>｜相关链接：<a href="http://www.moe.edu.cn">中华人民共和国教育部</a></p>
            <p>学会地址：北京市海淀区文慧园北路10号中教仪楼4层</p>
            <p>联系电话：010-59893295　010-59893297　京ICP备10021028号</p>
            <p>技术支持：<a href="http://www.eol.cn/">中国教育在线</a></p>
        </div>
        <div class="img_wx"><p align="center"><img src="<?=__STATIC__?>imgs/wx.jpg" width="72" height="72" /></p>
            <p align="center">官方微信</p>
        </div>
    </div>
</div>
</div>
</body>
</html>
<?php echo app\library\Tools::script($optionsRender('script'));?>
