
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>中国高等教育学会</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="copyright" content="www.hie.edu.cn" />
    <meta content="all" name="robots" />

    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css"/>
    <script type="text/javascript" src="http://www.eol.cn<?=__STATIC__?>/js/global/jQuery_latest.min.js" ignoreapd="false">
    </script>
    <script type="text/javascript" src="http://www.eol.cn<?=__STATIC__?>/js/global/jQuery_tabs.js" ignoreapd="false">
    </script>
    <script type="text/javascript" src="http://www.eol.cn<?=__STATIC__?>/js/global/jQuery_picFocus.js" ignoreapd="false" charset="utf-8">
    </script>
    <script type="text/javascript" src="<?=__STATIC__?>/js/ctrl.js" ignoreapd="false">
    </script>
    <link href="<?=__STATIC__?>/css/css.css" rel="stylesheet" type="text/css" ignoreapd="false">
    <base target="_blank" />
</head>
<body>

<style>
    li {list-style-type:none;}
</style>

<div class="top_bg">
    <div class="top"><h1 class="hide">中国高等教育学会</h1></div>
</div>

<div class="nav_bg">
    <div class="nav">
        <ul>
            <li class="left"><a href="#" class="cur">网站首页</a></li>
            <span>|</span>
            <li class="left"><a href="http://www.hie.edu.cn/overview_12570/20150121/t20150121_993149.shtml" class="" target="_self">学会概况
                <!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150121/t20150121_993149.shtml" target="_blank" >学会简介</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150119/t20150119_993126.shtml" target="_blank" >现任领导</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150119/t20150119_993127.shtml" target="_blank" >历任领导</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150114/t20150114_993097.shtml" target="_blank">组织机构</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150121/t20150121_993152.shtml" target="_blank" >联系我们</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <span>|</span>
            <li class="left"><a href="http://www.hie.edu.cn/news_12577/index.shtml" class="" >学会活动
                <!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="http://www.hie.edu.cn/news_12577/index.shtml" >学会资讯</a></li>
                    <li><a href="http://www.hie.edu.cn/act_12578/index.shtml" >学术活动</a></li>
                    <li><a href="http://www.hie.edu.cn/announcement_12579/index.shtml" >通知公告</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <span>|</span>
            <li class="left"><a href="http://www.hie.edu.cn/overview_12570/20150114/t20150114_993097.shtml" class="">会员服务
                <!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150119/t20150119_993128.shtml" >省级学会</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150119/t20150119_993130.shtml" >高校学会</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150119/t20150119_993129.shtml" >行业学会</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150119/t20150119_993131.shtml" >分支机构</a></li>
                    <li><a href="http://www.hie.edu.cn/overview_12570/20150114/t20150114_993097.shtml" >会员服务</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <span>|</span>
            <li class="left"><a href="http://www.hie.edu.cn/perspective_12580/">高教视点</a>
            </li>
            <span>|</span>
            <li class="left"><a href="http://www.hie.edu.cn/policies_12581/" class="" >政策法规</a></li>
            <span>|</span>
            <li class="left"><a href="http://www.hie.edu.cn/view_12582/" class="" >学术观点
                <!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="http://www.hie.edu.cn/people_12583/index.shtml" >教育学人</a></li>
                    <li><a href="http://www.hie.edu.cn/hot_12584/index.shtml" >深度热点</a></li>
                    <li><a href="http://www.hie.edu.cn/proceedings_12585/index.shtml" >会刊精选</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <span>|</span>
            <li class="left"><a href="http://editor.hie.edu.cn/" class="">投稿平台</a></li>
            <span>|</span>
            <li class="left"><a target="_self" href="<?=url('meeting/index');?>" class="">会议报名</a></li>
        </ul>
    </div>
</div>
<div class="bule_bor"></div>
<div class="main">
    <!--焦点图开始490x300-->
    <div class="picfocus left" id='player'>
        <p class="play_list">
            <a href="http://www.hie.edu.cn/news_12577/20170605/t20170605_993583.shtml" target="_blank"><img src="http://www.hie.edu.cn/images/fujian/20170605-pic.jpg" alt="第49届全国高教仪器设备展示会" /></a>
            <a href="http://www.hie.edu.cn/news_12577/20170425/t20170425_993566.shtml" target="_blank"><img src="http://www.hie.edu.cn/images/0505-1.jpg"  alt="WE+2017智绘互联校园新生态峰会召开"></a>
            <a href="http://www.hie.edu.cn/news_12577/20170315/t20170315_993533.shtml" target="_blank"><img src="http://www.hie.edu.cn/images/0505-2.jpg" alt="中国高等教育学会系统秘书长工作会议在京举行
" /></a>
            <a href="http://www.hie.edu.cn/news_12577/20170123/t20170123_993506.shtml" target="_blank"><img src="http://www.hie.edu.cn/images/0505-3.jpg" alt="“高等教育第三方评价与高校自我评估”学术报告会

" /></a>
            <a href="http://www.hie.edu.cn/news_12577/20161212/t20161212_993479.shtml" target="_blank"><img src="http://www.hie.edu.cn/images/0505-4.jpg" alt="2016年高校网络信息安全学术年会" /></a>

    </div>
    <!--焦点图结束-->
    <div class="w_490 right border pad_b_10">
        <div class="title  tit_blue"><h2 class="b_dot"><span><a href="http://www.hie.edu.cn/news_12577/">更多>></a></span>学会资讯</h2></div>
        <ul>

            <li><span>2017-06-12</span><a href="http://www.hie.edu.cn/news_12577/20170612/t20170612_993590.shtml">互联网+教育——高等教育新生态：第二届高等教育信息化校长高...</a></li>

            <li><span>2017-06-07</span><a href="http://www.hie.edu.cn/news_12577/20170607/t20170607_993585.shtml">“2017年中国大学生阳光体育校园健身跑步活动”决赛在东北大...</a></li>

            <li><span>2017-06-05</span><a href="http://www.hie.edu.cn/news_12577/20170605/t20170605_993583.shtml">高校实践教学改革与人才培养模式创新系列活动暨第49届全国高...</a></li>

            <li><span>2017-05-12</span><a href="http://www.hie.edu.cn/news_12577/20170512/t20170512_993578.shtml">2017成都全球创新创业名校高峰对话暨中外大学校长论坛在成都召开</a></li>

        </ul>
        <div class="title tit_red mar_t_10"><h2 class="r_dot"><span><a href="http://www.hie.edu.cn/act_12578/">更多>></a></span>学术活动</h2></div>
        <ul>

            <li><span>2017-05-05</span><a href="http://www.hie.edu.cn/act_12578/20170505/t20170505_993574.shtml">中国高等教育学会2016年度工程教育专项课题开题会顺利举行</a></li>

            <li><span>2017-05-05</span><a href="http://www.hie.edu.cn/act_12578/20170505/t20170505_993572.shtml">“高校教师专业化发展及考核评价制度改革”专题报告会在浙江...</a></li>

            <li><span>2017-03-30</span><a href="http://www.hie.edu.cn/act_12578/20170330/t20170330_993544.shtml">“中国高校教师专业发展调研”课题开题会在上海交通大学召开</a></li>

            <li><span>2017-03-30</span><a href="http://www.hie.edu.cn/act_12578/20170330/t20170330_993543.shtml">“大数据时代背景下的教学质量保障体系建设”专题报告会在国...</a></li>

        </ul>
    </div>
    <div class="no_way"></div>
</div>
<div class="main">
    <div class="w_320 border left mar_r_20">
        <div class="title tit_blue"><h2 class="b_dot"><span><a href="http://www.hie.edu.cn/perspective_12580/">更多>></a></span>高教视点</h2></div>
        <div class="pad_10 overflow">
            <div class="img_90 left"><a href="http://www.hie.edu.cn/perspective_12580/20170504/t20170504_993571.shtml"><img src="http://www.hie.edu.cn/images/gzsd-0504.jpg" width="90" height="90" /></a></div>
            <div class="w_190 right">
                <h2>面向教育现代化，素质教育再出发</h2>
                <p align="right"><span>2017-5-4</span></p>
                <div class="no_way"></div>
                <div class="line_24">
                    <p>　　《中国教育现代化2030》是一个面向第二个百年奋斗目标的中国教育改革发展的纲领性文件...[<a href="http://www.hie.edu.cn/perspective_12580/20170504/t20170504_993571.shtml">详细</a>]</p>
                </div>
            </div>
            <div class="no_way"></div>
            <ul>

                <li><span>2017-05-04</span><a href="http://www.hie.edu.cn/perspective_12580/20170504/t20170504_993571.shtml">瞿振元：面向教育现代化，素质教...</a></li>

                <li><span>2017-04-26</span><a href="http://www.hie.edu.cn/perspective_12580/20170426/t20170426_993568.shtml">瞿振元：努力建设中国特色现代化...</a></li>

                <li><span>2017-04-06</span><a href="http://www.hie.edu.cn/perspective_12580/20170406/t20170406_993552.shtml">瞿振元：素质教育要再出发</a></li>

                <li><span>2017-03-20</span><a href="http://www.hie.edu.cn/perspective_12580/20170320/t20170320_993536.shtml">着力加强和改进高校思想政治工作...</a></li>

            </ul>
        </div>
    </div>
    <div class="w_320 border left mar_r_20">
        <div class="title tit_blue"><h2 class="b_dot"><span><a href="http://www.hie.edu.cn/view_12582/">更多>></a></span>学术观点</h2></div>
        <div class="pad_10 overflow">
            <div class="img_90 left"><a href="http://www.hie.edu.cn/view_12582/20160816/t20160816_993404.shtml" target="_blank"><img src="http://www.hie.edu.cn/images/xsgd.jpg" width="90" height="90" /></a></div>
            <div class="w_190 right">
                <h2><a href="http://www.hie.edu.cn/view_12582/20160816/t20160816_993404.shtml" target="_blank">高等教育法治建设</a></h2>
                <p align="right"><span>2016-08-16</span></p>
                <div class="no_way"></div>
                <div class="line_24">
                    <p >　　教育立法是推进教育法治建设的必要保障。在教育法治建设过程中，一方面要对滞后的...<a href="http://www.hie.edu.cn/view_12582/20160816/t20160816_993404.shtml" target="_blank">[详细]</a></p>
                </div>
            </div>
            <div class="no_way"></div>
            <ul>

                <li><span>2017-05-27</span><a href="http://www.hie.edu.cn/view_12582/20170527/t20170527_993579.shtml">高等教育学学科建设</a></li>

                <li><span>2017-04-26</span><a href="http://www.hie.edu.cn/view_12582/20170426/t20170426_993567.shtml">考试招生制度改革</a></li>

                <li><span>2017-03-24</span><a href="http://www.hie.edu.cn/view_12582/20170324/t20170324_993539.shtml">学生事务管理</a></li>

                <li><span>2017-02-28</span><a href="http://www.hie.edu.cn/view_12582/20170228/t20170228_993513.shtml">高校学术评价</a></li>

            </ul>
        </div>
    </div>
    <div class="w_320 border right">
        <div class="title tit_blue"><h2 class="b_dot"><span><a href="http://www.hie.edu.cn/policies_12581/">更多>></a></span>政策法规</h2></div>
        <div class="pad_t overflow">
            <ul>

                <li><span>2017-03-13</span><a href="http://www.hie.edu.cn/policies_12581/20170313/t20170313_993526.shtml">中国高等教育学会全国优秀高等教...</a></li>

                <li><span>2016-12-14</span><a href="http://www.hie.edu.cn/policies_12581/20161214/t20161214_993482.shtml">中国高等教育学会高等教育科学研...</a></li>

                <li><span>2016-12-14</span><a href="http://www.hie.edu.cn/policies_12581/20161214/t20161214_993481.shtml">中国高等教育学会外部课题经费管...</a></li>

                <li><span>2016-12-14</span><a href="http://www.hie.edu.cn/policies_12581/20161214/t20161214_993480.shtml">中国高等教育学会高等教育科学研...</a></li>

                <li><span>2016-04-07</span><a href="http://www.hie.edu.cn/policies_12581/20160407/t20160407_993344.shtml">《中华人民共和国国民经济和社会...</a></li>

                <li><span>2016-02-15</span><a href="http://www.hie.edu.cn/announcement_12579/20160215/t20160215_993310.shtml">《中国高等教育学会分支机构管理...</a></li>

                <li><span>2016-02-15</span><a href="http://www.hie.edu.cn/announcement_12579/20160215/t20160215_993311.shtml">《中国高等教育学会会费管理办法》</a></li>

                <li><span>2016-02-15</span><a href="http://www.hie.edu.cn/announcement_12579/20160215/t20160215_993312.shtml">《中国高等教育学会会员制实施办法》</a></li>

                <li><span>2016-03-04</span><a href="http://www.hie.edu.cn/policies_12581/20160304/t20160304_993320.shtml">《中华人民共和国高等教育法》</a></li>

                <li><span>2016-03-04</span><a href="http://www.hie.edu.cn/policies_12581/20160304/t20160304_993323.shtml">《统筹推进世界一流大学和一流学...</a></li>

                <li><span>2015-01-14</span><a href="http://www.hie.edu.cn/policies_12581/20150114/t20150114_993107.shtml">《国家中长期教育改革和发展规划...</a></li>

            </ul>
        </div>
    </div>
    <div class="no_way"></div>
</div>
<div class="main">
    <div class="w_490 left border  txt">
        <div class="title  tit_red"><h2 class="r_dot"><span><a href="http://www.hie.edu.cn/proceedings_12585/">更多>></a></span>会刊期刊</h2></div>
        <div class="img_140 left">
            <SCRIPT type=text/javascript>
                <!--

                var focus_width=140
                var focus_height=185
                var text_height=0
                var swf_height = focus_height+text_height

                var pics='http://www.hie.edu.cn/images/pic08.jpg|http://www.hie.edu.cn/images/pic09.jpg|http://www.hie.edu.cn/images/pic10.jpg'
                var links='http://www.hie.edu.cn/proceedings_12585/20150113/t20150113_993056.shtml|http://www.hie.edu.cn/proceedings_12585/20150114/t20150114_993071.shtml|http://www.hie.edu.cn/proceedings_12585/20150114/t20150114_993070.shtml'
                var texts='aaaaaa|bbbbbbb|ccccccc'

                document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
                document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="http://www.edu.cn/images/cer.net/index_pic/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">');
                document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
                document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
                document.write('<embed src="http://www.edu.cn/images/cer.net/index_pic/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');		document.write('</object>');

                //-->
            </SCRIPT>
        </div>
        <div class="w_290 right">
            <ul>

                <li><span>2017-06-06</span><a href="http://www.hie.edu.cn/proceedings_12585/20170606/t20170606_993584.shtml">《中国高教研究》2017年第6期目录</a></li>

                <li><span>2017-05-04</span><a href="http://www.hie.edu.cn/proceedings_12585/20170504/t20170504_993570.shtml">《中国高教研究》2017年第5期目录 </a></li>

                <li><span>2017-04-06</span><a href="http://www.hie.edu.cn/proceedings_12585/20170406/t20170406_993551.shtml">《中国高教研究》2017年第4期目录</a></li>

                <li><span>2017-03-02</span><a href="http://www.hie.edu.cn/proceedings_12585/20170302/t20170302_993516.shtml">《中国高教研究》2017年第3期目录</a></li>

                <li><span>2017-02-08</span><a href="http://www.hie.edu.cn/proceedings_12585/20170208/t20170208_993509.shtml">《中国高教研究》2017年第2期目录 </a></li>

                <li><span>2017-01-04</span><a href="http://www.hie.edu.cn/proceedings_12585/20170104/t20170104_993496.shtml">《中国高教研究》2017年第1期目录</a></li>

                <li><span>2016-12-08</span><a href="http://www.hie.edu.cn/proceedings_12585/20161208/t20161208_993477.shtml">《中国高教研究》2016年第12期目录</a></li>

                <li><span>2016-11-03</span><a href="http://www.hie.edu.cn/proceedings_12585/20161103/t20161103_993455.shtml">《中国高教研究》2016年第11期目录</a></li>

            </ul>
        </div>
    </div>
    <div class="w_490 right border pad_b_10 txt">
        <div class="title  tit_red"><h2 class="r_dot"><span><a href="http://www.hie.edu.cn/announcement_12579/">更多>></a></span>通知公告</h2></div>
        <ul>

            <li><span>2016-06-08</span><a href="http://www.hie.edu.cn/announcement_12579/20160608/t20160608_993379.shtml">中国高等教育学会关于发展高校单位会员的通知</a></li>

            <li><span>2017-06-09</span><a href="http://www.hie.edu.cn/announcement_12579/20170609/t20170609_993589.shtml">关于开展第九届高等学校信息技术创新与实践活动的通知</a></li>

            <li><span>2017-06-08</span><a href="http://www.hie.edu.cn/announcement_12579/20170608/t20170608_993588.shtml">中国高等教育学会优秀学会工作者名单公示</a></li>

            <li><span>2017-06-05</span><a href="http://www.hie.edu.cn/announcement_12579/20170605/t20170605_993582.shtml">关于举办第四届“两岸新锐设计竞赛‘华灿奖’”的通知</a></li>

            <li><span>2017-06-02</span><a href="http://www.hie.edu.cn/announcement_12579/20170602/t20170602_993581.shtml">“大数据”系列课程（暑期）教学研修班邀请函</a></li>

            <li><span>2017-06-01</span><a href="http://www.hie.edu.cn/announcement_12579/20170601/t20170601_993580.shtml">关于举办“2017年中国高等教育学会学术年会暨高等教育国际论...</a></li>

            <li><span>2017-05-08</span><a href="http://www.hie.edu.cn/announcement_12579/20170508/t20170508_993576.shtml">《中国现代教育装备》杂志社2017年公开招聘工作人员公告</a></li>

            <li><span>2017-05-08</span><a href="http://www.hie.edu.cn/announcement_12579/20170508/t20170508_993575.shtml">关于长江钢琴·小金钟2017全国高校钢琴大赛报名时间变更的公告</a></li>

        </ul>
    </div>
    <div class="no_way"></div>
</div>
<div class="main">
    <div class="border overflow pad_b_10">
        <div class="title tit_blue"><h2 class="b_dot"><span><a href="http://www.hie.edu.cn/overview_12570/20150114/t20150114_993097.shtml" target="_blank">更多>></a></span>会员服务</h2></div>
        <div class="t_cont">
            <h2>省级高等教育学会</h2>
            <div class="no_way"></div>
            <div class="h_cont overflow">
                <ul>
                    <li><a href="http://www.sh-gjxh.com/" target="_blank">上海市高等教育学会</a></li>
                    <li><a href="http://yzuuc.hbu.cn/" target="_blank">河北省高等教育学会</a></li>
                    <li><a href="http://www.51jyky.com.cn/sec_sgjxh.aspx" target="_blank">黑龙江省高等教育学会</a></li>
                    <li><a href="http://www.jsgjxh.cn" target="_blank">江苏省高等教育学会</a></li>
                    <li>北京市高等教育学会</li>
                    <li><a href="http://129148.tianjin.8671.net/" target="_blank">天津市高等教育学会</a></li>
                    <li><a href="http://www.cqgjxh.com/"  target="_blank">重庆市高等教育学会</a></li>
                    <li>山西省高等教育学会</li>
                    <li>内蒙古自治区高等教育学会</li>
                    <li>辽宁省高等教育学会</li>
                    <li>吉林省高等教育学会</li>


                    <li>浙江省高等教育学会</li>
                    <li>安徽省高等教育学会</li>
                    <li>福建省高等教育学会</li>
                    <li>江西省高等教育学会</li>
                    <li>山东省高等教育学会</li>
                    <li>河南省高等教育学会</li>
                    <li>湖北省高等教育学会</li>
                    <li>湖南省高等教育学会</li>
                    <li>广东省高等教育学会</li>
                    <li>广西壮族自治区高等教育学会</li>
                    <li>海南省高等教育学会</li>
                    <li>四川省高等教育学会</li>
                    <li>贵州省高等教育学会</li>
                    <li>云南省高等教育学会</li>
                    <li><a href="http://sxgjxh.nwu.edu.cn/" target="_blank">陕西省高等教育学会</a></li>
                    <li>甘肃省高等教育学会</li>
                    <li>青海省高等教育学会</li>
                    <li>宁夏回族自治区高等教育学会</li>



                </ul>
            </div>
        </div>
        <div class="no_way"></div>
        <div class="t_cont">
            <h2>行业高等教育学会</h2>
            <div class="no_way"></div>
            <div class="h_cont overflow">
                <dl>
                    <dd><a href="http://gjfh.bjfu.edu.cn/" target="_blank">中国林业教育学会高等教育分会</a></dd>
                    <dd>公安教育学会</dd>

                    <dd>中国教育技术协会远程教育专委会</dd>
                    <dd>中国电力教育协会</dd>
                    <dd>中国航空教育学会高等教育分会</dd>
                    <dd>中国核工业教育分会</dd>
                    <dd>中国化工教育学会高等教育分会</dd>
                    <dd>中国交通教育研究会高教研究分会</dd>
                    <dd>中国煤炭高等教育学会</dd>
                    <dd>中国水利教育协会高等教育分会</dd>
                    <dd>中国冶金高等教育学会</dd>
                    <dd>中医药高等教育学会</dd>
                    <dd>中国机械工业高等教育学会</dd>
                    <dd>中国电子教育学会电子高教分会</dd>
                    <dd>中国地质学会教育研究分会</dd>



                </dl>
            </div>
        </div>
        <div class="no_way"></div>
        <div class="t_cont">
            <h2>分支机构</h2>
            <div class="no_way"></div>
            <div class="h_cont overflow">
                <ul>
                    <li><a href="http://chinadxscy.csu.edu.cn/cyfh/" target="_blank">创新创业教育分会</a></li>
                    <li><a href="http://zgd.nju.edu.cn/" target="_blank"> 档案工作分会</a></li>
                    <li><a href="http://www.gxfdy.edu.cn/daoyuan_website/" target="_blank">辅导员工作研究分会</a></li>
                    <li><a href="http://www.ggzwh.cn/" target="_blank">公共关系教育专业委员会</a></li>
                    <li><a href="http://www.cas-cn.org" target="_blank">广告教育专业委员会</a></li>
                    <li><a href="http://114.112.69.156:31234/cms/" target="_blank">继续教育分会</a></li>
                    <li><a href="http://www.teacherclub.com.cn/tresearch/channel/company/index.html" target="_blank">教师教育分会</a></li>
                    <li><a href="http://www.crct.edu.cn/" target="_blank">教学研究分会</a></li>
                    <li><a href="http://emath.gzhu.edu.cn/" target="_blank">教育数学专业委员会</a></li>
                    <li><a href="http://www.edu-info.edu.cn/" target="_blank">教育信息化分会</a></li>
                    <li><a href="http://www.gdlk.pku.edu.cn/" target="_blank">理科教育专业委员会</a></li>
                    <li><a href="http://gaojiao.zgxymyw.cn/index.php" target="_blank">美育专业委员会</a></li>
                    <li><a href="http://www.mishuxue.com/" target="_blank">秘书学专业委员会</a></li>
                    <li><a href="http://gxsy.ego-photo.com/" target="_blank">摄影教育专业委员会</a></li>
                    <li><a href="http://rsb2.whu.edu.cn/szweb/" target="_blank">师资管理研究分会</a></li>
                    <li><a href="http://www.culabs.com.cn/" target="_blank">实验室管理分会</a></li>
                    <li><a href="http://tyxh.caigou.com.cn/" target="_blank">体育专业委员会</a></li>
                    <li><a href="http://www.cafsa.org.cn/" target="_blank">外国留学生教育管理分会</a></li>
                    <li><a href="http://www.alumni-cn.org/" target="_blank">校友工作研究分会</a></li>
                    <li><a href="http://www.jcopc.org/" target="_blank">新闻学与传播学专业委员会</a></li>
                    <li><a href="http://cahe-as.tsinghua.edu.cn/xcgl/index.jsp" target="_blank">薪酬管理研究分会</a></li>
                    <li><a href="http://www.sarb.edu.cn/" target="_blank">学生工作研究分会</a></li>
                    <li><a href="http://www.cxxw.net/" target="_blank">学习科学研究分会</a></li>
                    <li><a href="http://www.yzfh.edu.cn/" target="_blank">引进国外智力工作分会</a></li>
                    <li><a href="http://www.gjyw.com/" target="_blank">语文教育专业委员会</a></li>
                    <li><a href="http://www.stecn.org/" target="_blank">自考分会</a></li>
                    <li>保健医学分会</li>
                    <li>保卫学专业委员会</li>
                    <li>产学研合作教育分会</li>
                    <li>出国留学教育管理分会</li>
                    <li>大学素质教育研究分会</li>
                    <li>高等财经教育分会</li>
                    <li>高等教育管理分会</li>
                    <li>高等教育学会专委会</li>
                    <li>高等商科教育专业委员会</li>
                    <li>高校党校教育研究分会</li>
                    <li><a href="http://www.csee.engineer" target="_blank">工程教育专业委员会</a></li>
                    <li>工程热物理专业委员会</li>
                    <li>国防教育研究分会</li>
                    <li>国际政治研究专业委员会</li>
                    <li>后勤管理分会</li>
                    <li>价值工程分会</li>
                    <li>教育基金工作研究分会</li>
                    <li>教育评估分会</li>
                    <li>科技管理研究分会</li>
                    <li>马克思主义研究分会</li>
                    <li>期刊工作分会</li>
                    <li>设计教育专业委员会</li>
                    <li>社会科学研究管理分会</li>
                    <li> 师范教育分会</li>
                    <li>思想政治教育分会</li>
                    <li>特殊教育研究分会</li>
                    <li>外国文学专委会</li>
                    <li>校董事会研究分会</li>
                    <li>校际合作研究分会</li>
                    <li>校史研究分会</li>
                    <li> 医学教育专委会</li>
                    <li>仪器科学及测控技术专委会</li>
                    <li>音乐教育专业委员会</li>
                    <li>影视教育专业委员会</li>
                    <li>院校研究分会</li>
                    <li>职业技术教育研究分会</li>
                    <li>廉政建设分会</li>
                    <li><a href="http://cfcrsorg.xmu.edu.cn" target="_blank">中外合作办学研究分会</a></li>
                    <li>数字化课程资源研究分会</li>





                </ul>
            </div>
        </div>
        <div class="no_way"></div>
        <div class="t_cont">
            <h2>大学高等教育学会</h2>
            <div class="no_way"></div>
            <div class="h_cont overflow">
                <dl>
                    <dt>武汉大学高等教育学会</dt>
                    <dt>南开大学高等教育学会</dt>
                    <dt>上海交通大学高等教育学会</dt>
                    <dt>浙江大学高等教育学会</dt>
                    <dt>中国地质大学高等教育学会（武汉）</dt>
                    <dt>清华大学高等教育学会</dt>
                    <dt>中国人民大学高等教育学会</dt>
                    <dt>哈尔滨工业大学高等教育学会</dt>
                    <dt>中南大学高等教育学会</dt>
                    <dt>北京工业大学高等教育学会</dt>
                    <dt>上海机电学院高等教育学会</dt>
                    <dt>华中科技大学高等教育学会</dt>



                </dl>
            </div>
        </div>
        <div class="no_way"></div>
    </div>
</div>
<div class="no_way"></div>
<div class="copyright">
    <div class="main">
        <div class="line_24">
            <p><a href="http://www.hie.edu.cn/overview_12570/20150121/t20150121_993152.shtml">联系我们</a>｜相关链接：<a href="http://www.moe.edu.cn/" target="_blank">中华人民共和国教育部</a></p>
            <p>学会地址：北京市海淀区文慧园北路10号中教仪楼4层</p>
            <p>联系电话：010-59893295　010-59893297　京ICP备10021028号</p>
            <p>技术支持：<a href="http://www.eol.cn/">中国教育在线</a></p>
        </div>
        <div class="img_wx"><p align="center"><img src="<?=__STATIC__?>/images/wx.jpg" width="72" height="72" /></p>
            <p align="center">官方微信</p>
        </div>
    </div>
</div>
<style>
    /*对联广告*/
    #adleft {position:absolute; top:216px; left:50%; margin-left:-620px; width:100px; text-align:center;}
    #adright {position:absolute; top:216px; left:50%; margin-left:520px; width:100px; text-align:center;}
    /*浮动广告的关闭按钮*/
    .closeBtn{display:block; cursor:pointer;color:#666; line-height:24px; font-size:12px; text-align:center;}
</style>
<div id='adleft' class="duilian">
    <a href="http://zhculture.cn/gjxhgyzh/" target="_blank"><img src="<?=__STATIC__?>/images/duilian-l.gif" alt='' border="0"></a>
    <span class="closeBtn">关闭</span></div>
<!--<div id='adright' class="duilian">
 <a href="http://zhculture.cn/gjxhgyzh/index.asp?id=161030" target="_blank"><img src="images/duilian-r.gif" alt='' border="0"></a>
 <span class="closeBtn">关闭</span>
</div>-->
<script>
    $('.closeBtn').click(function(){
        $('.duilian').hide();
    });
</script>
<div style="display:none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257418590'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257418590' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>
<div style="position: fixed;width:100%;z-index:9999991;height: 70%;background-color: rgba(0,0,0,0.8);bottom:0;color: white">
    <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto">
        <h1>代办事项</h1>
        <hr/>
        <ul style="display: block;width: 50%;margin: 0 auto;position: relative; margin-top:30px;font-size: 30px; ">
            <li> <input type="checkbox" id="c1" ><label for="c1"> 会议通知 </label></li>
            <li> <input type="checkbox" id="c2"><label for="c2"> 会议日程安排</label></li>
            <li> <input type="checkbox" id="c3"><label for="c3">  报道通知</label></li>
            <li> <input type="checkbox" id="c4"><label for="c4">  用户中心【登陆|注册】</label></li>
            <li> <input type="checkbox" id="c5"><label for="c5">  会议报名</label></li>
            <li> <input type="checkbox" id="c1"> <label for="c6"> 组织机构</label></li>
        </ul>
    </div>
</div>