{include file='common/header' /}

<form action="#">
    <div class="container">
        <div class="top_bg">
            <div class="top"></div>
        </div>
        {include file='common/nav'/}
        <!-- 主体-->
        <div class="main">
            {include file='common/icenter'/}
            <div class="center">
                <div class="aside">
                    <div class="login">
                        <p class="organame">会员登录</p>
                        <div class="login_info">
                            <label for="username">
                                <span>用户名：</span><input id="username" class="txt" type="text"/>
                            </label>
                            <label for="userpwd">
                                <span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input id="userpwd" class="txt" type="password"/>
                            </label>
                            <label for="auto">
                                <input type="checkbox" id="auto"/><i>下次自动登录</i>
                            </label>
                            <p>
                                <input type="button" class="btn btn_login" value="登录" onclick="document.getElementById("myForm").submit()"/>
                                <input type="button" class="btn btn_reg" value="注册"   onclick="location.href='/user/register.html'"/>
                            </p>
                            <p class="forget"><a href="#">忘记密码</a></p>
                        </div>
                    </div>
                    <p class="organame">组织机构</p>
                    <ul>
                        <?php if( !empty($organ_array) ):?>
                        <?php foreach( $organ_array as $organ_val ): ?>
                        <li <?=$organ_val['id'] == $organ_id ? 'class="curr"' : ''?> organ-id="<?=$organ_val['id']?>" >
                                <span><?=$organ_val['name']?></span>
                                <s></s>
                            </li>
                        <?php endforeach;?>
                        <?php endif;?>
                        <li <?=$organ_val['id'] < $organ_id ? 'class="curr more"' : 'class="more"'?> >
                            <span >更多分支机构</span>
                            <s></s>
                        </li>
                    </ul>
                </div>
                <div class="cont right" style="margin-right: 20px;">
                    <h3 class="organ_title"><?=$organ_title?></h3>
                    <div id="gdjy" class="gdjy1 box">
                        <p class="doc">
                            <span>会议名称</span>
                            <span class="upload">单价</span>
                        </p>
                        <ul class="list">
                            <li metting_id="1">
                            <span class="title">
                                <b>2016年高等教育学会得通知</b><br/>
                                <span class="dark"><b>主办单位</b>：保健医学分会<b>&nbsp;2017-05-16&nbsp;05:37&nbsp;</b>开始报名</span>
                            </span>
                                <span class="date">￥1600.00</span>
                            </li>
                            <li>
                            <span class="title">
                                <b>“全面提升质量管理水平，全面提高教学综合改革成效”专题报告会</b><br/>
                                <span class="dark"><b>主办单位</b>：保卫学专业委员会<b>&nbsp;2017-05-16&nbsp;05:37&nbsp;</b>开始报名</span>
                            </span>
                                <span class="date">￥100.00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="cover display-none"></div>
    <div class="coverWindow more_organize pop display-none">
        <p>
            <span>其他分支机构<?=count($hidden_organ)?>家</span>
            <span class="close" style="z-index: 2000;">X</span>
        </p>
        <div class="cover_cont">
            <ul class="item">
                <li>
                    <ul>
                        <?php if(!empty($hidden_organ)):?>
                        <?php foreach($hidden_organ as $hi_o_val):?>
                            <li> <a href="/meeting/index/organ/<?=$hi_o_val['id']?>"><?=$hi_o_val['name']?> </a> <sup class="red"></sup></li>
                        <?php endforeach;?>
                        <?php endif;?>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="last">
            <input type="button" value="关闭" class="btn1 close"/>
        </div>
    </div>
</form>
{include file='common/footer' /}
<script>
    $(function(){
        $(".aside>ul>li").click(function(){
            var _this = $(this);
            if(_this.attr('organ-id')  ){
                window.location.href = '/meeting/index/organ/' + _this.attr('organ-id') + '.html';
            }
//            $(this).siblings().removeClass("curr");
//            $(this).addClass("curr");
//            var c = $(this).attr("class").split(" ")[0];
//            var cs= $("."+c+"1");
//            cs.siblings("i").addClass("display-none");
//            cs.siblings("h3").addClass("display-none");
//            cs.removeClass("display-none");
        })

        $(".more").click(function(){
            $(".cover").removeClass("display-none");
            $(".coverWindow").removeClass("display-none");
            $(".close").click(function(){
                $(".cover").addClass("display-none");
                $(".coverWindow").addClass("display-none");
            });
        })
        $(".list>li").click(function(){
            window.location = '/meeting/notice/mid/'+$(this).attr('metting_id');
        })
    })
</script>