{include file='common/header' /}
<!-- 主体-->
<div class="container">
    <div class="top_bg">
        <div class="top"></div>
    </div>
    {include file='common/nav'/}
<div class="main">
    {include file='../application/www/view/common/icenter.html'/}
    <div class="center">
        <div class="regok text_title">
            <p>
                <img src="<?=__STATIC__?>imgs/applyok.jpg" alt=""/><span>恭喜您报名成功!<i>星期二hshdf1231</i></span>
            </p>
            <p>
                感谢您报名2016年中国高等教育学会国际论坛。请凭下方报名凭证或卡号至会场扫描二维码签到入场。<br/>
                您可通过手机截图或进去个人中心—我的凭证查看调取参会二维码
            </p>
            <form class="last-same">
                <input class="btn1" type="button" value="查看订单详情"/>&nbsp;&nbsp;&nbsp;
                <input class="btn3" type="button" value="完善核对注册者信息"/>
            </form>
        </div>
    </div>
</div>
</div>
{include file='../application/www/view/common/footer.html'/}
